body{
    font-family: 'Work Sans', sans-serif;
}
.img-banner{
    width: 30rem;
    border-radius: 500px;
}

.titulo-h2{
    font-size: 100px;
    font-weight: bold;
}

.btn-redondo{
    margin: 10px;
    height: 8rem;
    width: 8rem;
    border-radius: 10rem;
    border: 1px solid gray;
}