body{
    font-family: 'Work Sans', sans-serif;
    font-size: small;
}
.img-banner{
    width: 20rem;
    border-radius: 500px;
}

.titulo-h2{
    font-size: 70px;
    font-weight: bold;
}

.btn-redondo{
    margin: 10px;
    height: 6rem;
    width: 6rem;
    border-radius: 10rem;
    border: 1px solid gray;
}

.img-proyectos{
    width: 400px;
    background-image: url("img/lista-tareas.jpg");
}